@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.main-margin{
    margin: 0 180px;
}
.btn {
    margin: 20px 0;
    padding: 21px 40px;
    border-radius: 42px;
    color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
/* header section style  */
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo img{
    width: 80px;
    height: 38px;
}
.header-title{
    font-size: 2.8rem;
    color: #0B0223;
}
.header-title span{
    color: #FF42A5;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul > li{
    list-style: none;
    margin-right: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #3c354f;
}
nav ul li > a{
    text-decoration: none;
}
nav ul li > a:hover, .follow-us:hover{
    color: #FF42A5;
}
.follow-us{
    display: flex;
    align-items: center;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 12px;
    border-radius: 8px;
}
.follow-us .youtube{
    margin: 0 12px;
    color:red;
    font-size: 26px;
}
.follow-us .tiktok{
    font-size: 24px;
    padding: 5px;
}
/* banner section styles  */
.banner{
    background-image: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);   
}
.banner-container{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    background-image:url("./images/Group\ 14.png");
    background-position: center;

    background-size: 100%;
    padding: 100px 50px 0px 180px;  
}
.banner-content h3{
    font-size: 2.5rem;
    font-weight: 600;
    color:#0B0223;
    text-transform: uppercase;
}
.banner-content h1{
    font-size: 5.5rem;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color:transparent;
    margin: 10px 0;
}
.banner-content p{
    font-size: 1.25rem;
    font-weight: 500;
    color:#534C64;
    margin-bottom: 12px;
}
.banner-content .sing-in{
    background-color: #FF42A5;
}
.banner-content .go-rogue{
    background-color: #4EC5F7;
}
.banner-image img{
    margin-right: 180px;
    width: 570px;
}
/* we-are-gamer section style  */
.we-are-gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-bottom: 50px;
}
.we-are-gamer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.we-are-gamer-photo img{
   width: 560px;
   height: 450px;
}
.we-are-gamer-content{
    text-align: right;
}
.we-are-gamer-content h1{
    font-size: 42px;
    font-weight: 700;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color:transparent;
}
.we-are-gamer-content p {
    font-size: 16px;
    font-weight: 400;
    color: #534C64;
    line-height: 22px;
    padding: 10px 0;
}
.we-are-gamer-content  .btn{
    margin: 10px 0;
    background-color: #FF42A5;
}
.we-are-gamer-content  .purpose{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
}
.we-are-gamer-content  .purpose strong{
    font-size: 23px;
}
/* online games section style  */
.online-games{
    margin-bottom: 50px;
    background-color: #fff;
    text-align: center;
}
.online-games h1{
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
    padding: 10px 0;
}
.online-games h1 > span{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color:transparent;
}
.online-games p{
    font-size: 18px;
    font-weight: 500;
}
.online-games-container{
    margin-top: 50px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-self: center;
}
.online-games-box{
    text-align: left;
    width: 235px;
    height: auto;
}
.online-games-boxtooltip img{
    position: relative;
    display: inline-block;
    border-radius: 16px;
    width: 235px;
    height: 242px;
}
.online-games-box-tooltiptext{
    visibility: hidden;
    width: 235px;
    height: 242px;
    background-color: rgba(19, 16, 24, 0.6);
    text-align: center;
    border-radius: 10px;
    padding: 80px 0 0 0;
    text-align: center;
    border: 5px solid #FF42A5;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -100;
    margin-left: -235px;
}
.online-games-box-tooltiptext i{
    font-size: 32px;
    font-weight: 600;
    color:#fff;
    padding: 15px 0;
    cursor: pointer;
}
.online-games-box-tooltiptext span{
    font-size: 20px;
    font-weight: 600;
    background-image: linear-gradient(180deg, #F948B2 0%, #F948B2 100%);
    -webkit-background-clip: text;
    color:transparent;
    cursor: pointer;
}
.online-games-boxtooltip:hover .online-games-box-tooltiptext {
    visibility: visible;
  }
.online-games-box p{
    font-size: 15px;
    color: #0B0223;
    font-weight: 500;
}
/* play-game-container */
.play-game-container{
    margin: 80px 0;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 100px;
}
.play-game-content{
    padding-left: 80px;
    text-align: center;
}
.play-game-content h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.play-game-content span{
    background-image: linear-gradient(180deg, #ff42a5 0%, #ff42a5 100%);
    -webkit-background-clip: text;
    color:transparent;
}
.play-game-content p{
   font-size: 18px;
   line-height: 30px;
   color: #534C64;
}
.play-game-photo{
    position: relative;
}
.play-game-photo img{
    width: 450px;
}
.play-game-photo .down-photo{
    position: absolute;
    top: 280px;
    left: -90px;
}
.play-game-photo .down-photo img{
    width: 200px;
}
/* careers section  */
.careers{
    background-image: linear-gradient(180deg, #ff42a5 0%, #ff42a5 100%);
}
.careers-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
}
.careers-content{
    padding-left: 180px;
}
.careers-content h1{
    padding-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
}
.careers-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.careers-list{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.careers-list-box p, .careers-list-box1 p{
    font-size: 16px;
    font-weight: 600;
}
.careers-list-box1{
    text-align: right;
}
.careers-photo img{
    width: 650px;
    height: 550px;
}
.btn-careers {
    padding: 16px 40px;
    border-radius: 42px;
    background-color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    color: #FF42A5;
}
/* game links section  */
.game-links-container{
    margin-top: 120px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.game-link-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 60px;
    padding: 10px;
    border-radius: 41px;
    margin-bottom: 15px;
    color: #0B0223;
    cursor: pointer;
}
.game-link-box:hover{
    border: 1px solid #FF42A5;
    background-image: linear-gradient(180deg, #ff42a5 0%, #ff42a5 100%);
    -webkit-background-clip: text;
    color:transparent;
}
.game-links{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.game-link-box h5{
    font-size: 14px;
}
.image1{
    background-image: url("./images/Rectangle\ 11.png");
}
.image2{
    background-image: url("./images/Rectangle\ 12.png");
}
.image3{
    background-image: url("./images/Rectangle\ 13.png");
}
.image4{
    background-image: url("./images/Rectangle\ 14.png");
}
.image5{
    background-image: url("./images/Rectangle\ 15.png");
}
.image6{
    background-image: url("./images/Rectangle\ 16.png");
}
.image7{
    background-image: url("./images/Rectangle\ 17.png");
}
.image8{
    background-image: url("./images/Rectangle\ 18.png");
}
.image9{
    background-image: url("./images/Rectangle\ 19.png");
}

/* footer style  */
footer{
    padding: 50px;
    background-color: #0B0223;
    text-align: center;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer-logo img{
    width: 70px;
    height: 30px;
}
.footer-title{
    font-size: 2.5rem;
    color: #fff;
}
.footer-title span{
    color: #FF42A5;
}
.footer-menu {
    padding: 28px 0;
}
.footer-menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-menu ul li{
    list-style: none;
}
.footer-menu ul li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}
.footer-menu ul li > a:hover{
    color: #FF42A5;
    border: 2px solid #F948B2;
    padding: 10px 13px;
    border-radius: 12px;
}
.footer-social-media ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social-media ul > li{
    list-style: none;
}
.footer-social-media a{
    text-decoration: none;
}
.footer-social-media i{
    font-size: 30px;
    margin-right: 50px;
    padding: 10px 0;
    color: #fff;
}
.footer-policy-menu {
    padding: 40px 60px;
}
.footer-policy-menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-policy-menu ul li{
    list-style: none;
}
.footer-policy-menu ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.60);
}
.footer-policy-menu ul li > a:hover{
    color: #FF42A5;
    border: 2px solid #F948B2;
    padding: 10px 13px;
    border-radius: 12px;
}
.footer-container p{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
}


/* Mobile screen media query */
@media screen and (max-width:425px) {
    .main-margin{
        margin: 0 20px;
    }
    /* header section style  */
    .header-container{
        flex-direction: column;
        gap: 20px;
        padding: 30px 0;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul > li{
        margin-right:0px;
        margin-bottom: 20px;
    }
    .follow-us{
        padding: 8px 12px;
    }
    /* banner section styles  */
    .banner{
        overflow: hidden;  
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 20px;
    }
    .banner-content{
        padding: 15px;  
    }
    .banner-content .btn {
        margin: 20px 0;
    }
    .banner-image img{
        padding: 10px;
        width: 100%;
    }
    /* we are gamer  */
    .we-are-gamer{
        background: #fff;
    }
    .we-are-gamer-container{
        flex-direction: column;
    }
    .we-are-gamer-photo img{
       width: 100%;
       height: 350px;
    }
    .we-are-gamer-content{
        text-align: center;
    }
    /* online games container  */
    .online-games-container{
        flex-direction: column;
    }
    .online-games-box{
        width: 100%;
    }
    .online-games-boxtooltip img{
        margin: 0px 0;
        width: 100%;
        height: 250px;
    }
    .online-games-box-tooltiptext{
        width: 393px;
        height: 250px;
        /* Position the tooltip */
        z-index: 1;
        top: -73;
        margin-left: -390px;
    }
    .online-games > p{
        padding: 20px 10px 10px;
    }
    .online-games-box p{
        padding: 20px 0px;
    }
    /* play-game-container */
    .play-game-container{
        margin: 80px 0;
        flex-direction: column;
        gap: 50px;
    }
    .play-game-content{
        padding-top: 10px;
        padding-left: 0px;
    }
    .play-game-photo{
        position: relative;
    }
    .play-game-photo img{
        width: 90%;
    }
    .play-game-photo .down-photo{
        position: absolute;
        top: 250px;
        left: -20px;
    }
    .play-game-photo .down-photo img{
        width: 120px;
    }
    /* careers section  */
    .careers-container{
        flex-direction: column;
    }
    .careers-content{
        padding: 15px;
    }
    .careers-content h1{
        font-size: 38px;
    }
    .careers-content p{
        font-size: 16px;
        line-height: 26px;
    }
    .careers-list{
        gap: 15px;
    }
    .careers-list-box p, .careers-list-box1 p{
        font-size: 15px;
    }
    .careers-photo img{
        width: 100%;
        height: 350px;
    }
        /* game links section  */
    .game-links-container{
        margin: 50px auto 30px;
        gap: 5px;
    }
    .game-link-box{
        gap: 2px;
        width: 125px;
        height: 40px;
        padding: 3px;
        margin-bottom: 20px;
        justify-content: center;
    }
    .game-links{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .game-link-box h5{
        padding: 0;
        font-size: 10px;
    }
    /* footer style  */
    footer{
        padding: 50px;
    }
    .footer-menu {
        padding: 20px 0;
    }
    .footer-menu ul, .footer-social-media ul,.footer-policy-menu ul{
        flex-wrap: wrap;
    }
    .footer-menu ul li, .footer-policy-menu ul li, .footer-social-media ul li{
        margin: 15px 0;
    }
    .footer-social-media ul{
        justify-content: center;
    }
    .footer-social-media i{
        margin-right: 50px;

    }
    .footer-policy-menu {
        padding: 20px 0px;
    }
}


/* Tablet  screen media query */
@media screen and (min-width:426px) and (max-width:768px){
    .main-margin{
        margin: 0 20px;
    }
    /* header section style  */
    .logo{
        justify-content: space-between;
        gap: 10px;
    }
    .logo img{
        width: 60px;
        height: 30px;
    }
    .header-title{
        font-size: 2.1rem;
    }
    nav ul{
        gap: 10px;
    }
    nav ul > li{
        margin-right: 30px;
        font-size: 1rem;
    }
    .follow-us{
        padding: 8px;
    }
    .follow-us .youtube{
        margin: 0 5px;
        color:red;
        font-size: 22px;
    }
    .follow-us .tiktok{
        font-size: 22px;
        padding: 5px;
    }
    /* banner section styles  */
    .banner{
        overflow: hidden;
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 20px;
    }
    .banner-content{
        padding: 15px 85px;  
    }
    .banner-content .btn {
        margin: 20px 0;
    }
    .banner-image img{
        padding: 0 20px;
        width: 100%;
    }
    /* we are gamer  */
    .we-are-gamer{
        background: #fff;
    }
    .we-are-gamer-container{
        flex-direction: column; 
    }
    .we-are-gamer-photo img{
       width: 100%;
       height: 350px;
    }
    .we-are-gamer-content{
        text-align: center;
    }
    .we-are-gamer-content p{
        padding: 20px 80px;
    }
    /* online games container  */
    .online-games-container{
        flex-direction: column;
        text-align: center;
    }
    .online-games-box{
        width: 100%;
        margin: 0px 20px;
    }

    .online-games-boxtooltip img{
        width: 90%;
        height: 400px;
    }
    .online-games-box-tooltiptext{
        width: 660px;
        height: 400px;
        /* Position the tooltip */
        z-index: 1;
        top: -73;
        margin-left: -655px;  
    }
    .online-games-box p{
        padding: 10px 20px 20px ;
    }
    /* play-game-container */
    .play-game-container{
        margin: 80px 0;
        flex-direction: column;
        gap: 40px;
    }
    .play-game-content{
        text-align: center;
        margin: 0 40px;
        padding: 30px 50px;
    }
    .play-game-content h1{

        padding: 0px 80px;
    }
    .play-game-photo{
        position: relative;
    }
    .play-game-photo img{
        width: 90%;
    }
    .play-game-photo .down-photo{
        position: absolute;
        top: 470px;
        left: -40px;
    }
    .play-game-photo .down-photo img{
        width: 150px;
    }
    /* careers section  */
    .careers-container{
        flex-direction: column;
    }
    .careers-content{
        padding: 35px;
    }
    .careers-content h1{
        font-size: 38px;
    }
    .careers-content p{
        font-size: 16px;
        line-height: 26px;
    }
    .careers-list{
        gap: 15px;
    }
    .careers-list-box p, .careers-list-box1 p{
        font-size: 15px;
    }
    .careers-photo img{
        width: 100%;
        height: auto;
    }
        /* game links section  */
    .game-links-container{
        margin: 50px auto 30px;
        gap: 5px;
    }
    .game-link-box{
        gap: 2px;
        width: 125px;
        height: 40px;
        padding: 3px;
        margin-bottom: 20px;
        justify-content: center;
    }
    .game-links{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .game-link-box h5{
        padding: 0;
        font-size: 10px;
    }
    /* footer style  */
    footer{
        padding: 50px;
    }
    .footer-menu {
        padding: 20px 0;
    }
    .footer-menu ul, .footer-social-media ul,.footer-policy-menu ul{
        flex-wrap: wrap;
    }
    .footer-menu ul li, .footer-policy-menu ul li, .footer-social-media ul li{
        margin: 15px 0;
    }
    .footer-social-media ul{
        justify-content: center;
    }
    .footer-social-media i{
        margin-right: 50px;

    }
    .footer-policy-menu {
        padding: 20px 0px;
    }


}