@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.main-margin{
    margin: 0 180px;
}
.btn {
    margin: 20px 0;
    padding: 21px 40px;
    border-radius: 42px;
    color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
}


/* header section style  */
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo img{
    width: 80px;
    height: 38px;
}
.header-title{
    font-size: 2.8rem;
    color: #0B0223;
}
.header-title span{
    color: #FF42A5;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul > li{
    list-style: none;
    margin-right: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #3c354f;
}
nav ul li > a{
    text-decoration: none;
}
.follow-us{
    display: flex;
    align-items: center;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 12px;
    border-radius: 8px;
}
.follow-us .youtube{
    margin: 0 12px;
    color:red;
    font-size: 26px;
}
.follow-us .tiktok{
    font-size: 24px;
    padding: 5px;
}
/* banner section styles  */
.banner{
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.banner-container{

    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    background-image: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}
.banner-content h3{
    font-size: 2.5rem;
    font-weight: 600;
    color:#0B0223;
    text-transform: uppercase;
}
.banner-content h1{
    font-size: 5.5rem;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color:transparent;
    margin: 10px 0;
}
.banner-content p{
    font-size: 1.25rem;
    font-weight: 500;
    color:#534C64;
    margin-bottom: 12px;
}
.banner-content .sing-in{
    background-color: #FF42A5;
}
.banner-content .go-rogue{
    background-color: #4EC5F7;
}
.banner-image img{
    width: 570px;
}
/* we-are-gamer section style  */
.we-are-gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-bottom: 50px;
}
.we-are-gamer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.we-are-gamer-photo img{
   width: 560px;
   height: 450px;
}
.we-are-gamer-content{
    text-align: right;
}
.we-are-gamer-content h1{
    font-size: 48px;
    font-weight: 700;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color:transparent;
}
.we-are-gamer-content p {
    font-size: 16px;
    font-weight: 400;
    color: #534C64;
    line-height: 22px;
    padding: 10px 0;
}
.we-are-gamer-content  .btn{
    margin: 10px 0;
    background-color: #FF42A5;
}
.we-are-gamer-content  .purpose{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
}
.we-are-gamer-content  .purpose strong{
    font-size: 23px;
}








@media screen and (max-width:425px) {
    .main-margin{
        margin: 0 20px;
    }
    /* header section style  */
    .header-container{
        flex-direction: column;
        gap: 30px;
        padding: 30px 0;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul > li{
        margin-right:0px;
        margin-bottom: 20px;
    }
    .follow-us{
        padding: 8px 12px;
    }
    /* banner section styles  */
    .banner-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-content {
        padding-top: 80px;
    }
    .banner-content .btn {
        margin: 20px 0;
    }
    .banner-image img{
        width: 100%;
    }
    /* we are gamer  */
    .we-are-gamer{
        background: #fff;
    }
    .we-are-gamer-container{
        flex-direction: column;
        
    }
    .we-are-gamer-photo img{
       width: 100%;
       width: 450px;
    }
    .we-are-gamer-content{
        text-align: center;
    }
}